# Ignore git configuration and files
.git/
.gitconfig

# Ignore Visual Studio Code settings
.vscode/

# Ignore Rust build files
target/

# to be removed
old_*

# https://johnvansickle.com/ffmpeg/builds/ffmpeg-git-amd64-static.tar.xz
*.xz
